* {
  box-sizing: border-box;
}

html, body {
  background-color: #262729;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  font-family: abel, 'sans-serif';
}

.container {
  margin: 0;
  width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: anton, 'sans-serif';
}

h4 {
  font-size: 2em;
  color: white;
}

.row {
  text-align: center;
  width: 100%;
  background-color: black;
}

.row:after {
  content: "";
  clear: both;
}

.column {
  height: 20vh;
  text-align: center;
  color: white;
  background-color: black;
  float: left;
}

.column:hover {
  background-color: #222325;
}

.one {
  width: 100%;
  border: 1px solid #c9ffdd;
}

.half {
  width: 50%;
  border: 1px dashed white;
}

.quarter {
  width: 25%;
  border: 1px dashed #2c84ff;
}

.third {
  width: 33.33333%;
  border: 1px dashed #802a4a;
}

.eighth {
  width: 12.5%;
  border: 1px dashed #ff4632;
}

.hovered {
  border: 1px solid white;
}

.flash {
  animation-name: flash;
  animation-duration: 1.5s;
}

@keyframes flash {
  0% {opacity: .95}
  25% {opacity: .2}
  50% {opacity: .95}
  75% {opacity: .2}
  100% {opacity: .95}
}

/*============spacing and positions html=============*/
.section {
  min-height: 200px;
}

#octo-container {
  text-align: center;
  border: 1px solid black;
}

#octopus {
  height: 300px;
}